
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <label for="filtroAnuncios" class="list-group-item">Busca si eso</label>
                <input id="filtroAnuncios" type="text" placeholder="Ej. Tortilla" class="list-group-item" ng-model="productFilter">
            </div>
        </div>



        <div class="row">

            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in $ctrl.products | filter: productFilter">
                <div class="thumbnail">
                    <img ng-src="{{$ctrl.absolutePath(product.photos)}}" alt="">
                    <div class="caption">
                        <h4><a href="#">{{product.name}}</a>
                        </h4>
                        <h4>{{product.price}}€</h4>
                        <p class="textoDeMas" ng-bind-html="product.description | sanitize"></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{product.state}}</p>
                        <p>
                           {{product.category.name}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Like this template?</a>
                </h4>
                <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
            </div>

        </div>

    </div>

</div>

