<div class="list-group">
    <label for="filtroAnuncios" class="list-group-item active">Busca si eso</label>
    <input style="padding: 20px" id="filtroAnuncios" type="text" placeholder="Ej. Call of Duty" class="form-control" ng-model="productFilter.name">
    <div style="text-align: center">
        <label class="radio-inline">
            <input type="radio" name="categorias" ng-model="categoria.category.name" value="Videojuegos">Videojuegos</label>
        <label class="radio-inline">
            <input type="radio" name="categorias" ng-model="categoria.category.name" value="Películas">Peliculas</label>
        <label class="radio-inline">
            <input type="radio" name="categorias" ng-model="categoria.category.name" value="Libros">Libros</label>
        <label class="radio-inline">
            <input type="radio" name="categorias" ng-model="categoria.category.name" value="">Todos</label>
    </div>


    </div>
</div>