
<div class="container">

    <div class="row">

        <div class="" style="text-align: center">
            <img ng-src="{{$ctrl.absolutePathItem($ctrl.product.photos)}}">
        </div>

    </div>

    <div class="row" style="position: relative; float: right">
        <div class="">
            <p class="lead" style="text-align: center">{{$ctrl.product.name}}</p>
            <div class="list-group">
                <label class="list-group-item">Precio</label>
                <p>{{$ctrl.product.price}}€</p>
                <label class="list-group-item">Detalles</label>
                <p ng-bind-html="$ctrl.product.description | sanitize"></p>
            </div>
        </div>

    </div>

</div>
