
<div class="container">

    <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4">
            <image-picker/>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Nombre Articulo</p>
            <div class="list-group">
                <label class="list-group-item">Precio</label>
                <p>Aqui pondriamos el precio</p>

                <label class="list-group-item">Detalles</label>
                <p>Y aqui detalles del articulo</p>
            </div>
        </div>

    </div>

</div>
