
    <!--<div class="row">-->
        <div class="col-sm-8 col-lg-8 col-md-8">
            <div class="input-group" style="padding: 20px">
                <span class="input-group-addon" id="basic-addon1">Nombre del Articulo</span>
                <input type="text" class="form-control" style="padding: 15px;" placeholder="Ej. Call of duty" aria-describedby="basic-addon1"
                       ng-model="anuncio.name" required>
            </div>
            <div class="input-group" style="padding: 20px">
                <span class="input-group-addon" id="basic-addon2">Decripcion</span>
                <textarea type="text" class="form-control" rows="3" style="padding: 15px;"placeholder="Ej. SuperJuego" aria-describedby="basic-addon2" ng-model="anuncio.description"></textarea>
            </div>
            <div class="input-group" style="padding: 20px">
                <span class="input-group-addon" id="basic-addon3">Caregoria</span>
                <select ng-model="anuncio.category.name" required>
                    <option>Videojuegos</option>
                    <option>Películas</option>
                    <option>Libros</option>
                </select>
            </div>
            <div class="input-group" style="padding: 20px">
                <span class="input-group-addon" id="basic-addon4">Precio</span>
                <input type="number" class="form-control" style="padding: 15px;" placeholder="0" aria-describedby="basic-addon4" ng-model="anuncio.price" required∫>
            </div>
            <button ng-click="notifyNewProduct()">Aceptar</button>

        </div>


