

<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Nuevo Articulo</p>
            <div class="list-group">
                <label for="nombreArticulo" class="list-group-item">Nombre del Articulo</label>
                <input id="nombreArticulo" type="text" placeholder="Ej. Macbook Pro" class="list-group-item">

                <label for="descripcionArticulo" class="list-group-item">Descripcion</label>
                <input id="descripcionArticulo" type="text" placeholder="Ej. Descripcion" class="list-group-item">

                <label for="tipoArticulo" class="list-group-item">Categoria</label>
                <input id="tipoArticulo" type="text" placeholder="Ej. Tecnologia" class="list-group-item">

                <label for="precioArticulo" class="list-group-item">Precio</label>
                <input id="precioArticulo" type="number" min="1" max="99999" placeholder="Ej. 50" class="list-group-item">
            </div>
            <div>
                <button>Aceptar</button>

            </div>
        </div>


    </div>

</div>